@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  color: beige;
  padding-bottom: 20px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container h1 {
  flex: 4;
  padding-top: 20px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.links-container {
  margin-top: 18px;
  display: flex;
  list-style: none;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.links-container li {
  flex-basis: 70px;
  font-family: 'Oxygen', sans-serif;
}

Link {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 1050px;
}
